body {
  color: #444;
  background-color: lightgoldenrodyellow;
  font-family: 'Courier New',  monospace;
  line-height: 1.5;
  margin: auto;
  padding: 1.5rem;
  max-width: 768px;
}

header {
  border-bottom: 1px solid #222;
  margin-bottom: 1rem;
}

header h1 {
  border: 1rem solid black;
  text-align: center;
}

nav ul {
  padding: 0;
}

nav ul li {
  background-color: lightgray;
  padding: 0.5rem;
  display: inline;
  margin-right: 1rem;
}

footer {
  border-top: 1px solid #222;
  margin-top: 5rem;
  text-align: center;
}

nav a {
  padding-left: 1rem;
  padding-right: 1rem;
}

a {
  color: black;
}

a:hover {
  color: white;
  background-color: black;
  padding: 1rem;
}

body ul {
  margin-top: 0.25rem;
}
